@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
  font-family: "Passion One", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black-1: #262623;
  --black-2: #101010;
  --red-1: #ED3A3A;
  --green-1: #6AFF49;
  --green-2: #307d1e;
  --orange-1: #FFDB49;
  --beige-1: #F5F5E8;
}

a {
  font-weight: 500;
  color: var(--red-1);
  text-decoration: inherit;
  transition: color 0.6s ease-out;
}

a:hover {
  color: var(--orange-1);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0;
  color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black-1);
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--black-1);
    background-color: #ffffff;
  }
}
